@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: "burtons";
  src: url ("../public/Burtons.otf")
}

/* mouse over link */
a:hover {
  color: hotpink;
}
h2 {
  font-family: 'Press Start 2P', cursive;
  font-weight: bold;
  color: #fff;
  font-size: 60px;
}

.icon-cards .icon {
margin: 0 auto;
}
.map {
  margin: 0 auto;
}

.screenshot-wrapper {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
}
.screenshot-wrapper .screenshot{
  flex: 1 1 calc( 50% - 1rem);
}
.screenshot img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.map {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
}
.map-wrapper {
  width: 100%;
  padding-bottom: 55%;
  position: relative;
  max-height: 600px;
}
.sticky-button-up {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;

}